@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-inline: 3%; margin-top: 3vh; width: 20%; min-height: 20vh; background-color: #6f6f6f;">Zxc993</div>
<div style="margin-inline: 3%; margin-top: 3vh; width: 20%; min-height: 20vh; background-color: #6f6f6f;">Zxc993</div>
<div style="margin-inline: 3%; margin-top: 3vh; width: 20%; min-height: 20vh; background-color: #6f6f6f;">Zxc993</div>
<div style="margin-inline: 3%; margin-top: 3vh; width: 20%; min-height: 20vh; background-color: #6f6f6f;">Zxc993</div>
<div style="margin-inline: 3%; margin-top: 3vh; width: 20%; min-height: 20vh; background-color: #6f6f6f;">Zxc993</div>
<div style="margin-inline: 3%; margin-top: 3vh; width: 20%; min-height: 20vh; background-color: #6f6f6f;">Zxc993</div>